<%-include("includes/head.ejs", { title: "Admin Registration" }) %>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="form-container">
    <h2>Admin Registration</h2>
    <form id="registration-form" method="POST" action="/api/auth/register-admin">
      <input type="text" id="name" name="name" placeholder="Name" required>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--  <script src="/js/scripts.js"></script>-->
<%-include("includes/end.ejs") %>
